/* define font-face */
@font-face {
    font-family: 'Cirka Light';
    src: url('https://cdn.jsdelivr.net/gh/TarunJuluru/Super-Fonts@a69773a70becfb4ccd87a2a64821563e4b99f372/Fonts/PPCirka-Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
