/* call font-face */
@import url('https://cdn.jsdelivr.net/gh/TarunJuluru/Super-Fonts@f7ee4dd5c8dd2860d7429dbb8ce2feb037f47a23/font.css');
/* apply font */
h1 {
	font-family: 'PPCirka Light', serif;
	font-weight: normal;
	font-style: normal;
}
